<% include ../partials/header %>
<div class="container">
        <h1 style="text-align: center; margin: 25px auto;">Create a New Campground</h1>
        <div style="width: 50%; margin: 25px auto;">
                <form action="/campground" method="POST" enctype="multipart/form-data">
                        <label for="">Name of Campground</label>
                        <div class="form-group">
                                <input type="text" class="form-control" name="name" placeholder="Name">
                        </div>
                        <label for="">User of Create Campground</label>
                        <div class="form-group">
                                <input type="text" class="form-control" readonly name="username"
                                        value="<%= currentUser.local.username %> <%= currentUser.google.name %> <%= currentUser.facebook.name %>">
                        </div>
                        <div class="form-group">
                                <label for="">Category</label>
                                <select name="categories" id="" class="form-control" id="">
                                        <% categories.forEach(function(hasil){ %>
                                        <option value="<%= hasil.id %>"><%= hasil.name %></option>
                                        <% }); %>
                                </select>
                        </div>
                        <div class="form-group">
                                <label for="">Jenis acara</label>
                                <select name="tindakan_oleh" id="tindakan_oleh_by" class="form-control">
                                        <option value="vc">-- Pilih --</option>
                                        <option value="Gratis">Gratis</option>
                                        <option value="Bayar">Bayar</option>
                                </select>
                        </div>
                        <div class="form-group" id="hidden_div" style="display: none;">
                                <input type="text" class="form-control" name="price" value="GRATIS" readonly>
                        </div>
                        <div class="form-group" id="hidden_div2" style="display: none;">
                                <input type="number" class="form-control" name="price" placeholder="Harga tiket"
                                        min="50000">
                        </div>
                        <label for="">Image Campground</label>
                        <div class="form-group">
                                <!-- <input type="text" class="form-control" name="image" placeholder="Url of Image"> -->
                                <input type="file" id="image" class="form-control" name="image" accept="image/*"
                                        required>
                        </div>
                        <label for="">Start</label>
                        <div class="form-group">
                                <div id="picker"></div>
                                <input type="hidden" name="start_date" id="result" value="" />
                        </div>
                        <label for="">End</label>
                        <div class="form-group">
                                <div id="picker2"></div>
                                <input type="hidden" name="end_date" id="result" value="" />
                        </div>
                        <label for="">Content of Campground</label>
                        <textarea name="description" id="mytextarea" cols="20" rows="17"
                                class="form-control"></textarea>

                        <div class="form-group">
                                <button class="btn btn-info btn-block">Submit</button>
                        </div>

                </form>
                <a href="/campground">Go back</a>
        </div>
</div>

<% include ../partials/footer %>