<% include ../partials/header %>
<div class="row">
  <div class="col-md-9">
    <div class="thumbnail">
      <img class="img-responsive" src="<%= campground.image.link %>">
      <div class="caption-full">
        <h4 class="pull-right">
          <% if(campground.price == null) { %>
          <p>GRATIS</p>
          <% } else { %>
          <p> Rp <%= campground.price %> </p>
          <% } %>
        </h4>

        <h4><a><%=campground.name%></a></h4>
        <p>
          <em>Submitted by: <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a>,
            <%= moment(campground.created).fromNow() %></em>
        </p>
        <p>Start date : <%= moment(campground.start_date).format('MMMM Do YYYY, h:mm:ss a') %></p>
        <p>End date : <%= moment(campground.end_date).format('MMMM Do YYYY, h:mm:ss a') %></p>
        <p>Categories: <span class="label label-info"><a href="/categories/<%= campground.categories.id %>"
              style="color:white"><%= campground.categories.name %></a></span>
        </p>
        <p>Tiket tersedia :
          <% if(campground.count_ticket == null) { %>
          <p>Tidak terbatas</p>
          <% } else { %>
          <%= campground.count_ticket %></p>
        <% } %>
        <p><% if( moment().isAfter(campground.end_date) ) { %></p>
        <p><button class="btn btn-danger" disabled>CLOSED</button></p>
        <p><% } %></p>
        <p>Description:</p>
        <p><%- campground.description %></p>
        <div class="sharethis-inline-share-buttons"></div>
        <div>
          <% campground.bookings.forEach(function(hasil){ %>
          <% if(currentUser && currentUser._id.equals(hasil.id_user)) { %>
          <p>Menunggu pembayaran</p>
          <%= hasil.id_user %> <%= currentUser._id %>
          <% } else if(currentUser && currentUser._id != hasil.id_user) { %>
          <form action="/booking/<%= campground._id %>" method="POST">
            <input type="hidden" value="<%= campground.id %>" name="id_campground">
            <button class="btn btn-primary btn-sm">Booking Event</button>
          </form>
          <% } %>
          <% }) %>

        </div>
        <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
        <div class="form-group">
          <a class="btn btn-xs btn-warning" href="/campground/<%= campground._id %>/edit">Edit</a>
          <a class="btn btn-white btn-xs" href="">
            <form action="/campground/<%= campground._id %>?_method=DELETE" method="POST" class="delete-form">
              <button class="btn btn-xs btn-danger">Hapus</button>
            </form>
          </a>
        </div>
        <% } %>
      </div>
    </div>
    <!--COMMENT SECTION START-->
    <div class="well">
      <!--Setting up the add new comment button that is used for collapsing-->
      <div class="text-right">
        <a class="btn btn-success pull-right" role="button" data-toggle="collapse" href="#collapseComment"
          aria-expanded="false" aria-controls="collapseComment">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new comment</a>
      </div>

      <!--Comment section title-->
      <h4><strong>Comments <span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span></strong></h4>

      <!--Collapse Add a comment form START-->
      <div class="collapse" id="collapseComment">
        <div class="well" style="border-left: 5px solid #00C851;">
          <% if(!currentUser) { %>
          <!--If the user is not logged in, direct him to the login page-->
          <h5>You need to login before you can comment. <a href="/login">Click here</a> to go to the login page.</h5>
          <% } %>
          <% if(currentUser) { %>
          <!--If the user is logged in, show the new comment form-->
          <h4>Write your comment <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></h4>
          <form id="add-comment-form" action="/campground/<%= campground._id %>/comment" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" name="author"
                value="<%= currentUser.local.username %> <%= currentUser.google.name %> <%= currentUser.facebook.name %>"
                readonly>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="content" placeholder="Write your comment..." form="add-comment-form"
                rows="5" cols="70"></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-success btn-xs">Comment <span class="glyphicon glyphicon-comment"
                  aria-hidden="true"></span></button>
            </div>
          </form>
          <% } %>
        </div>
      </div>
      <!--Collapse Add a comment form END-->
      <hr>

      <!--Check if there are comments, if there are none say no comments.-->
      <% if (campground.comments.length === 0) { %>
      <em style="color: grey;">No comments yet.</em>
      <% } %>

      <!--Display comments by looping through them-->
      <% campground.comments.forEach(function(comment) { %>
      <div class="row">
        <div class="col-md-12">
          <strong>
            <% if (currentUser && currentUser._id.equals(comment.author.id_user)) { %>
            <!--If the current user owns the comment, change the color of the user icon-->
            <span style="color: orange;" class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <% } else { %>
            <!--Else just display it black-->
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <% } %>
            <!--Print out the author username-->
            <%= comment.author.username %>
          </strong>
          <!--Show when the comment was made-->
          <span class="pull-right"><%= moment(comment.created).fromNow() %></span>
          <!--Printing the comment-->
          <p><%= comment.content %></p>
          <!--If the visitor is logged in and the owner of the comment, show the edit and delete buttons-->
          <% if (currentUser && currentUser._id.equals(comment.author.id_user)) { %>
          <!--Edit button used for collapsing the edit comment form-->
          <a class="btn btn-xs btn-warning" role="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>"
            aria-expanded="false" aria-controls="collapse<%= comment._id %>">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
          <!--Delete comment button-->
          <form id="delete-form" action="/campground/<%= campground._id %>/comment/<%= comment._id %>?_method=DELETE"
            method="POST" style="display: inline;">
            <button class="btn btn-xs btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </form>
          <!--Edit comment form-->
          <div class="collapse" id="collapseEdit<%= comment._id %>">
            <div class="well" style="border-left: 5px solid #ffbb33; margin-top: 15px;">
              <h4>Edit your comment <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></h4>
              <form id="edit-comment-form"
                action="/campground/<%= campground._id %>/comment/<%= comment._id %>?_method=PUT" method="POST">
                <div class="form-group">
                  <input type="text" class="form-control" name="author"
                    value="<%= currentUser.local.username %> <%= currentUser.google.name %> <%= currentUser.facebook.name %>"
                    readonly>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="content" placeholder="Your comment text..."
                    form="edit-comment-form" rows="5" cols="70"><%= comment.content %></textarea>
                </div>
                <div class="form-group">
                  <button class="btn btn-warning btn-sm">Edit comment <span class="glyphicon glyphicon-comment"
                      aria-hidden="true"></span></button>
                </div>
              </form>
            </div>
          </div>
          <% } %>
          <hr>
        </div>
      </div>
      <% }) %>

      <!--COMMENT SECTION END -->
    </div>
  </div>
</div>
<% include ../partials/footer %>